

<div class="alleWerken" >
    <img src="<%=werk.imageURL %>" alt="<%= werk.title %>">
    <h3 class="title"><%=werk.title %></h3>
    <p><span class="artist"><%=werk.artist %></span></p>
    <p><span class="year"><%=werk.year %></span></p>
    <a class="meerWeten" href="/portfolio/<%=index %>">meer weten...</a>
</div>
